.mini-cart {height: 40px !important;}
		.hd-show-item{height: 170px; width: 330px; float: left; }
		.top,.hd-show-item,.xm-star-goods-item,.brick-item{border: 1px solid #000000;}
		.xm-star-goods-item{ width: 309px; height: 309px; float: left; }
		.brick-item{height: 309px; width: 309px; float: left;}
		.top{  height: 70px; padding: 16px 30px 16px 65px; list-style: none; margin-top: 20px;}
		.board-section{height: 80px; text-align: center;}