<dl>
				<dt>个人中心</dt>
				<dd><a href="{:U('Shop/User/index')}" >我的个人中心</a></dd>
				<dd><a href="#">现金账号</a></dd>
				<dd><a href="#">喜欢的商品</a></dd>
				<dd><a href="{:U('Shop/User/address')}" class="dd_search">收货地址</a></dd>
			</dl>
			<dl>
				<dt>订单中心</dt>
				<dd><a href="{:U('Shop/User/order')}">我的订单</a></dd>
				<!--<dd><a href="#">团购订单</a></dd>
				<dd><a href="#">意外订单</a></dd>-->
				<dd><a href="#">详情</a></dd>
			</dl>
			<dl>
				<dt>用户信息</dt>
				<dd><a href="{:U('Shop/User/info')}">个人信息</a></dd>
				
			</dl>