<extend name="template/base_index2" />

<block name="area_header">
	
	<link  href="__PUBLIC__/Home/Index/css/index.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
		.box-hd{margin-top: 30px;}
	</style>
</block>

<block name="area_body">
	
	<include file="desktop_default/width/top"/>
	<div class="site-header container">
		<include file="desktop_default/width/search"/>
		<div class="header-nav clearfix">
			<div id="J_categoryContainer" class="nav-category nav-category-toggled">
				<a class="btn-category-list" >全部商品分类</a>
				
				
			</div>
			
		</div>
		
	</div>
	<!-- .site-header END -->
	<!-- Main Content START -->
	<div class="container">
		<div class="row">
			<div class="col col-16 offset4">
				<div class="home-slider">
					<div id="J_homeSlider" class="xm-slider" >
						<div class="xm-slider-container" style=" position: relative; width: 992px; height: 420px;">
							<div class="xm-slider-control" style="position: relative; left: 0px; width: 992px; height: 420px;">
								<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="height: 400px;">
								  <ul class="am-slides" style="height: 400px;">
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></li>
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" /></li>
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></li>
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" /></li>
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></li>
								    <li><img style="height: 400px;" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" /></li>
								  </ul>
								</div>
							</div>
						</div>

						
					</div>
				</div>
				
			</div>
		</div>

		<div class="home-star-goods">
			<div class="xm-plain-box J_starGoodsCarousel">
				<div class="box-hd">
					<h3 class="title">热销商品<a ><font color="#808080" size="2">热销的商品个个都是精品</font></a></h3>
					<div class="more">
						
					</div>
				</div>
				<div class="box-bd">
					<div class="xm-star-goods-list-wrap J_carouselWrap" style="height: 308px;">
						<div class="xm-star-goods-list clearfix J_carouselList" style="width: 2480px; margin-left: 0px;">
							<volist name='new' id='vo'>
							<div class="xm-star-goods-item">
								<div class="item-content">
									<span class="item-thumb">
                                  <a ><img height="60%" width="99%" style="border: 1px solid #000000;" src="{$vo.main_img}"></a>
                                </span>
									<span class="item-title"><a></a></span>
									<span class="item-desc">{$vo.name}</span>
								</div>
							</div>
							</volist>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .home-star-goods END -->

		<div class="home-star-goods">
			<div class="xm-plain-box J_starGoodsCarousel">
				<div class="box-hd">
					<h3 class="title">新货上架</h3>
					<div class="more">
						<div class="xm-recommend-page clearfix">
							
						</div>
					</div>
				</div>
				<div class="box-bd">
					<div class="xm-star-goods-list-wrap J_carouselWrap" style="height: 308px;">
						<div class="xm-star-goods-list clearfix J_carouselList" style="width: 2480px; margin-left: 0px;">
							<volist name='new' id='vo'>
							<div class="xm-star-goods-item">
								<div class="item-content">
									<span class="item-thumb">
                                  <a ><img  src="{$vo.main_img}"></a>
                                </span>
									<span class="item-title"><a></a></span>
									<span class="item-desc">{$vo.name}</span>
								</div>
							</div>
							</volist>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .home-new-goods END -->

		<div class="home-hot-goods">
			<div class="xm-plain-box">
				<div class="box-hd">
					<h3 class="title">大家都喜欢</h3>
				</div>
				<div class="box-bd">
					<div class="row">
						<div class="col col-15">
							<div class="brick-list">

								<volist name='new' id='vo'>
							<div class="xm-star-goods-item">
								<div class="item-content">
									<span class="item-thumb">
                                  <a ><img height="85%" width="100%" src="{$vo.main_img}"></a>
                                </span>
									<span class="item-title"><a></a></span>
									<span class="item-desc">{$vo.name}</span>
								</div>
							</div>
							</volist>
							</div>
						</div>
						<div class="col col-5">
							<div class="board-section">
								<h3><span>HOT</span>热销商品排行</h3>
								<ul class="board-list">
									<volist name='new' id='vo'>
										<li class="top">
											<a href="{:U('Shop/Index/spxq',array('id'=>$vo['id']))}"><img height="60px" width="80px" src="{$vo.main_img}"></a>
											<span class="item-info">
	                                        <span class="item-title"><a >{$vo.name}</a></span>
											<span class="item-price">{$vo.price}元 <del>{$vo.ori_price}</del></span>
											</span>
											<span class="item-thumb">
	                                        
	                                    </span>
											<span class="item-num"></span>
										</li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
	<div class="site-footer">
		<div class="container">
			<div class="footer-service">
				<ul class="list-service clearfix">
					<li>
						<a>
							<i class="iconfont"></i>
							<strong>1小时快修服务</strong>
						</a>
					</li>
					<li>
						<a >
							<i class="iconfont"></i>
							<strong>7天无理由退货</strong>
						</a>
					</li>
					<li>
						<a >
							<i class="iconfont"></i>
							<strong>15天免费换货</strong>
						</a>
					</li>
					<li>
						<a >
							<i class="iconfont"></i>
							<strong>满150元包邮</strong>
						</a>
					</li>
					<li>
						<a rel="nofollow" >
							<i class="iconfont"></i>
							<strong>520余家售后网点</strong>
						</a>
					</li>

				</ul>
			</div>
			
			
		</div>
	</div>
	<h4 style="text-align: center;">杭州博也网络科技版权所有<br>{__RUNTIME__}</h4>

	
</block>

<block name="area_footer">

</block>