<extend name="template/base_index2" />

<block name="area_header">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/index.css" />
	<link  href="__PUBLIC__/Home/Index/css/index.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
		* {
			font-family: "微软雅黑" !important;
		}
		.daohang{height: 40px;background-color: #FAFAFA;  font-size: 13px; padding: 10px; padding-left: 23%;}
		.daohang a{}
		.detail{font-size: 18px; margin-top: 200px; margin-left: 50px; }
		.show-a{width: 60%;  margin: 0 auto;}
		.inf h1{display:inline;}
		.inf span{margin-left: 20px;}
		.am-btn{font-size: 17px;}
	</style>
</block>

<block name="area_body">
	<include file="desktop_default/width/top"/>
	<div class="site-header container">
		<include file="desktop_default/width/search"/>
	</div>
	
	<div id="div_main" style="border-top:1px solid #ccc">
			<h3 class="daohang" ><a href="{:U('Shop/Index/index')}">首页 </a>> <a href="{:U('Shop/Index/flzc')}">商品  </a>> {$detail.name}</h3>
			<div class="div_info" >
				<div class="div_spxq_info1">
					<div style=" padding: 10px; margin-left: 20%; min-width: 1000px; ">
						<img width="400" height="450" id="img_main" src="{$product.main_img}" style="float: left;"/>
						<div class="inf" style=" padding: 20px; min-width: 1000px;">
							<input type="hidden" name="pid" id="pid" value="{$product.id}" />
							<h1 style="margin-left: 40px;">商品名称</h1><span>{$product.name}</span><hr>
							<h1 style="margin-left: 40px;">规格参数</h1><span>{$product.properties}</span><hr>
							<h1 style="margin-left: 40px; color: orangered;">{$product.price}</h1><del>{$product.ori_price}</del><hr>
							<a id="gocat" style="margin-left: 80px; width: 200px font-size: 17px !important; " class="am-btn am-btn-warning" href="javascript:void(0)"><i class="am-icon-shopping-cart"></i>加入购物车</a>
							<button type="button" style=" font-size: 17px; margin-left: 20px; width: 200px;" class="am-btn am-btn-success">立即购买</button><hr>
							<font size="3" style="margin-left: 120px;"><i class="am-icon-comment-o"></i>评论：<font color="orangered">243</font></font>
							<span style="margin-left: 50px;">|</span>
							<font size="3" style="margin-left: 60px;"><i class="am-icon-thumbs-o-up"></i>满意度：<font color="orangered">99.3%</font></font>
						</div>
					</div>
				</div>
			</div>
	</div>
			<hr>
	<div  style=" width: 100%; height: 50px;text-align: center;">
		<a href="javascript:void(0)"><font class="detail">详情描述</font></a><span style="margin-left: 50px;">|</span>
		<a href="javascript:void(0)"><font  class="detail">规格参数</font></a><span style="margin-left: 50px;">|</span>
		<a href="javascript:void(0)"><font  class="detail">晒货分享</font></a>
	</div>
	<div style=" background-color: #FAFAFA; ">
		<div class="show-a">
			<img width="100%" height="600px" src="__PUBLIC__/Cms/imgs/bg001.jpg">
		</div>
		
	</div>
	<div style="margin-top: 100px; ">
			<hr>
			<h1 style="margin-top: -43px; text-align: center; margin-left: 47%; position: relative; background-color: #FFFFFF; width: 180px;"  >商&nbsp;&nbsp;品&nbsp;&nbsp;规&nbsp;&nbsp;格</h1>
	</div>	
	<div style="margin-top: 100px; ">
			<hr>
			<h1 style="margin-top: -43px; text-align: center; margin-left: 47%; position: relative; background-color: #FFFFFF; width: 180px;"  >晒&nbsp;&nbsp;货&nbsp;&nbsp;分&nbsp;&nbsp;享</h1>
	</div>				
				
		
		
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$('#gocat').click(function(){
				var pid=$('#pid').val();
				$.getJSON("{:U('Shop/Index/savecookie')}",{id:pid},function(json){ 
					if(json==1){
						alert('成功添加到购物车');
					}else{
						alert('添加失败，请重试');
					}
				})
			})
			
		})
	</script>
</block>