<extend name="template/base_index2" />

<block name="area_header">
	<link  href="__PUBLIC__/Home/ShopCart/css/shopCart.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
		.carttitle{  width: 60%; margin: 0 auto; margin-top: 20px;}
		table tr td{padding: 20px; }
		.lft{padding-left: 15px;}
		.goods-num { width: 80px;}
		.change-goods-num{padding: 2px !important; margin-left: -26px;  width: 180px; text-align: center; padding: 3px; }
		.change-goods-num input{text-align: center; height: 30px; margin-top: -5px;}
		.iconfont{border: 1px solid #8C8C8C; padding: 6px; }
		.am-btn{font-size: 13px !important;}
	</style>
</block>

<block name="area_body">
	<div class="site-topbar">
		<div class="container">
			<div class="topbar-nav">
				<a href="" >小米网</a><span class="sep">|</span>
				<a href="" >小米网</a><span class="sep">|</span>
				<a href="" >小米网</a><span class="sep">|</span>
				<a href="" >小米网</a><span class="sep">|</span>
				<a href="" >小米网</a><span class="sep">|</span>
			</div>
			<div class="topbar-info J_userInfo">
				<a target="_blank" href="{:U('Home/Index/login')}">登录</a><span class="sep">|</span>
				<a target="_blank" href="{:U('Home/Index/register')}">注册</a>
			</div>
		</div>
	</div>
	<!-- .site-topbar END -->

	<div class="site-header container">
		<div class="site-logo">
			<a ><img height="70px" width="100px" style="margin-top: 18px; margin-left: 50px;" src="__PUBLIC__/Home/Index/img/banma.png"></a>
		</div>
		<div class="header-info">
			<div class="search-section">
				<form id="J_searchForm" class="search-form clearfix" action="{:U('Shop/Index/sousuo')}" method="post">
					<input class="search-text" type="search" name="name" placeholder="搜索您需要的商品">
					<input type="submit" class="search-btn iconfont" value="">
					<!--[if IE 6]><div class="ie6-fix"></div><![endif]-->
					
				</form>
			</div>
			
		</div>
		<div style=" margin-top: 100px; padding-top: 30px; ">
			<font size="5" color="#000000" ><i class="am-icon-cart-plus"></i>&nbsp;&nbsp;我的购物车</font><font style="color: #8C8C8C; font-size: 12px;">&nbsp;在结算的时候输入推荐人ID码可以优惠哦</font>
		</div>
	</div>
	<div >
		
		<div class="carttitle">
			<table width="1200">
				<tr style="background-color: #FAFAFA;">
					<td class="lft" style="padding-left: 15px;"  width="60%">商品</td>
					<td class="lft" >单价</td>
					<td class="lft" style="padding-left: 60px;" >数量</td>
					<td class="lft" >小计</td>
					<td class="lft" >操作</td>
				</tr>
				<tr>
					<td>
						<img height="100" width="120" src="">
						<font size="4">商品名称</font>
					</td>
					<td>49.5</td>
					<td><div class="change-goods-num"> 
						<a href="javascript:void(0)" class="J_minus"> 
							<i class="iconfont"></i> 
						</a> <input tyep="text" name="" value="1" data-num="1" data-buylimit="10" autocomplete="off" class="goods-num J_goodsNum"> 
							<a href="javascript:void(0)" class="J_plus"> <i class="iconfont">
							</i> </a> 
					</div>
					</td>
					<td><font color="orangered">49.5</font></td>
					<td><a href="javascript:void(0)"><i class="am-icon-times"></i></a></td>
				</tr>
				<tr>
					<td colspan="5"><hr></td>
				</tr>
				
			</table>
			<div style="width: 300px;  margin-left: 70%; padding: 10px;">
				<h2>商品总价：<font color="orangered" style="margin-left: 60px;">49.5</font>元</h2>
				<!--<input type="text"  style="height: 40px; width: 280px;" placeholder="请输入邀请人用户ID码"/>-->
				<h2>商品总计：<font color="orangered" style="margin-left: 60px;" size="6">49.5</font>元</h2>
				<font style="float: right;">
				<button type="button" class="am-btn am-btn-default am-round">继续购物</button>
				<button type="button" class="am-btn am-btn-warning am-round">去结账</button></font>
			</div>
		</div>
		<!--<empty name='lists'>
			<img src="__PUBLIC__/Shop/img/gouwuche.png">
		<else/>-->
		<!--</empty>-->
	</div>
</block>

<block name="area_footer">

</block>