<extend name="template/base_index2" />

<block name="area_header">
	<link  href="__PUBLIC__/Home/Index/css/index.min.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
		body{background: #F5F5F5}
		.am-footer-default{background: #F5F5F5}
		.div_main{width:80%;margin-left: 10%;float: left;background: #F5F5F5 }
		.div_left{width: 20%;margin: 20px;float: left;background:white}
		.div_left dl{margin:0 auto; width:70%;margin-top:50px;margin-bottom:50px;}
		.div_left dl dt{font-size: 20px;font-weight: 100;}
		.div_left dl dd{padding-left:25px;font-size: 16px;padding-top: 10px;}
		.div_left dl dd a:visited{color:#ccc}
		.div_left dl dd a:hover{color:#FF6700}
		.div_left dl dd a.dd_search{color:#FF6700}
		.div_right{width: 70%;margin: 20px;border: 1px solid #ccc;float: left;padding: 20px;background:white}

		.dd_search{color:#FF6700}

	</style>
</block>

<block name="area_body">
	<include file="desktop_default/width/top"/>
	<div class="site-header container">
		<include file="desktop_default/width/search"/>
	</div>
	<div class="div_main">
		<div class="div_left">
			<include file="desktop_default/width/list"/>
		</div>
		<div class="div_right">
			<font style="font-size: 30px">我的订单</font> <font style="font-size: 12px">请谨防钓鱼链接或诈骗电话,<a href="">了解更多></a></font>
			<br />
			<div data-am-widget="tabs" class="am-tabs am-tabs-default">
				<ul class="am-tabs-nav am-cf" style="width: 400px">
					<li class="am-active" style="width: 100px">
						<a href="[data-tab-panel-0]">全部有效订单</a>
					</li>
					<li class="">
						<a href="[data-tab-panel-1]">待支付</a>
					</li>
					<li class="">
						<a href="[data-tab-panel-2]">待收货</a>
					</li>
					<li class="">
						<a href="[data-tab-panel-3]">已关闭</a>
					</li>
				</ul>
				<div class="am-tabs-bd" style="margin-top:20px;">
					<div data-tab-panel-0 class="am-tab-panel am-active" style="text-align: center">
						<h1 style="color: #ccc">当前没有交易订单。</h1>
					</div>
					<div  data-tab-panel-1 class="am-tab-panel " style="text-align: center">

						<h1 style="color: #ccc">当前没有待支付订单。</h1>
					</div>
					<div  data-tab-panel-2 class="am-tab-panel " style="text-align: center">

						<h1  style="color: #ccc">当前没有待收货订单。</h1>
					</div>
					<div  data-tab-panel-3 class="am-tab-panel " style="text-align: center">

						<h1  style="color: #ccc">当前没有交易订单。</h1>
					</div>
				</div>
			</div>
		</div>

	</div>

</block>

<block name="area_footer">

</block>